body {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.text-center {
  text-align: center;
}

h1,
p {
  margin: 1vw;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  position: relative;
  width: 15vw;
  z-index: 2;
}
.nav-list {
  margin: 0;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
input[type="checkbox"] {
  display: none;
}
.hamburger {
  display: none;
  padding: 1vw;
}
.nav__list-link {
  font-size: 2vw;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-decoration: none;
  padding: 1vw;
  margin: 0 1vw;
}
.nav__list-link:hover {
  color: white;
  background-color: black;
}

/* banner section */
.banner-img-div {
  position: relative;
}
.banner-img {
  width: 100%;
  position: relative;
  bottom: 1.5vw;
}
.banner-text {
  position: absolute;
  left: 5vw;
  bottom: 5vw;
}
.banner-text--heading {
  color: rgb(44, 159, 204);
  font-size: 4vw;
  font-weight: bold;
  margin-left: 0;
}
.banner-text--secondary {
  color: white;
  font-size: 2vw;
  margin-left: 0;
}
.banner-btn {
  padding: 1vw;
  background-color: rgb(44, 159, 204);
  color: white;
  cursor: pointer;
  border: none;
}

/* courses section */
.courses-heading {
  font-size: 2rem;
  margin: 1vw;
}
.courses-desc {
  font-size: 1.5rem;
  padding: 0 2vw;
}
.courses-subsection {
  display: flex;
  justify-content: space-between;
  text-align: start;
  flex-wrap: wrap;
}
.course {
  display: flex;
  align-items: flex-start;
  width: 225px;
}
.course-name,
.course-desc {
  margin: 0;
  padding: 0 1vw;
}

/* student section */
.student-section {
  background-color: rgb(40, 182, 238);
  color: white;
  margin-top: 0.5rem;
}
.student-heading {
  font-size: 2rem;
  margin: 0.5rem;
  padding: 0.3rem;
}
.student-desc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.student-text {
  width: 50%;
  line-height: 2;
}

/* lorem section */
.lorem-heading {
  font-size: 2rem;
}
.lorem-text {
  line-height: 2;
  padding: 0 2vw;
}
/* footer */
footer {
  background-color: black;
  padding: 0.6rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* media queries 
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
 */

@media screen and (max-width: 770px) {
  .nav__list-link {
    font-size: 1rem;
  }
  .hamburger {
    display: block;
  }
  .nav-menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fff;
    text-align: center;
    z-index: 1;
  }
  .banner-img {
    bottom: 0;
  }
  input[type="checkbox"]:checked ~ .nav-menu {
    display: block;
  }
  .courses-desc {
    font-size: 1rem;
    padding: 0 2vw;
  }
  .course {
    width: 400px;
    padding: 2vw;
  }
  .student-desc {
    flex-direction: column;
  }
  .student-text {
    width: auto;
    padding: 1rem;
  }
  .courses-subsection {
    justify-content: center;
    margin: 0.5rem 0;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
  .logo {
    width: 20vw;
  }
  .course {
    width: auto;
  }
  .courses-desc {
    font-size: 0.8rem;
    padding: 0 2vw;
  }
  .courses-subsection {
    margin: 1rem 0;
  }
  .student-heading, .courses-heading, .lorem-heading {
    font-size: 1.5rem;
  }
  .student-img {
    width: -webkit-fill-available;
  }
  .lorem-heading {
    font-size: 1.5rem;
  }
  footer {
    flex-direction: column;
    justify-content: center;
  }
}
