body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}
.text-center {
  text-align: center;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1440px;
  position: relative;
}
.logo {
  position: absolute;
  max-width: 280px;
  z-index: 99;
  top: 0;
  left: 2vw;
  box-shadow: 5px 0px 10px rgb(54, 49, 49);
}
.nav-list {
  margin: 1vh 0;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
input[type="checkbox"] {
  display: none;
}
.hamburger {
  display: none;
  padding: 1vw;
  padding-right: 1rem;
  position: relative;
  z-index:4;
}
.nav__list-link {
  font-size: min(1.5vw, 25px);
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
  text-decoration: none;
  padding: min(1vw,12px);
  margin: 0 min(2vw, 24px);
}
.nav__list-link:hover {
  color: #fff;
  background-color: #2289cb;
}
.banner-img-div {
  position: relative;
}
.banner-img {
  width: 100%;
}
.banner-text {
  position: absolute;
  left: min(12vw, 140px);
  bottom: min(6vw, 70px);
}
.banner-text--heading {
  color: #2289cb;
  font-size: min(4.5vw,65px);
  font-weight: 700;
  margin: 0;
}
.banner-text--secondary {
  color: #fff;
  font-size: min(1.5vw,20px);
  margin: 0;
  margin-bottom: min(2.5vw, 35px);
}
.banner-btn {
  padding: min(0.8vw,10px) min(1vw,16px);
  font-size: 0.8rem;
  background-color: #2289cb;
  color: #fff;
  cursor: pointer;
  border: none;
}
.banner-btn:hover {
  background-color: #0f5dbd;
}
.courses-heading,
.lorem-heading,
.student-heading {
  font-size: 2rem;
  margin: min(1vw, 20px);
}
.courses-heading {
  margin: min(1.5vw,20px);
}
.courses-desc {
  font-size: 1rem;
  padding: 0 2rem 1rem 2rem;
  line-height: 1.8;
  margin: 0;
  text-align: justify;
}
.courses-subsection {
  display: flex;
  justify-content: space-between;
  text-align: start;
  flex-wrap: wrap;
  padding: 1rem 2rem;
}
.course {
  display: flex;
  align-items: flex-start;
  width: 325px;
  margin-bottom: 3rem;
  gap: 10px;
}
.course-icon {
  padding-top: 0.7rem;
}
.course-desc,
.course-name {
  margin: 0;
  padding: 0 1vw;
  line-height: 1.8;
  font-size: 0.8rem;
}
.course-name{
  font-size: 1rem;
}
.student-section-wrapper{
  background-color: #068abf;
  color: #fff;
}
.student-heading {
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 0;
}
.student-tagline {
  font-size: 1rem;
  padding: 1rem 2rem;
  padding-top: 0;
  margin-top:  0;
}
.student-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
}
.student-text {
  width: 40%;
  line-height: 2;
  font-size: 1rem;
  text-align: justify;
}
.lorem-heading {
  font-size: 2rem;
  margin: 1rem;
}
.lorem-text {
  line-height: 2;
  padding: 1rem 2rem;
  font-size: 1rem;
  text-align: justify;
  padding-top: 0;
  margin-top: 0;
}
.footer-wrapper{
  background-color: #000;
}
footer {
  padding: 0.3rem 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.icon {
  width: 25px;
}
footer span, footer div{
  font-size: 0.7rem;
  padding: 0.5rem 2rem;
}
.social-icons p{
  margin: 0px;
}
/* media queries */
@media screen and (min-width:1440px) {
  html{
    font-size: 22px;
  }
  header, .banner-img-div, .courses-section, .student-section, .lorem-ipsum, footer{
    max-width: 1440px;
    margin: auto;
  }
  .logo{
    width: 300px;
  }
  .course {
    width: 350px;
  }
}
@media screen and (max-width: 1440px) {
  html {
    font-size: 18px;
  }
  .logo {
    width: 230px;
  }
  .course {
    width: 350px;
  }
}
@media screen and (max-width: 1150px){
  .course {
    width: 300px;
  }
}
@media screen and (max-width: 1024px){
  .nav__list-link {
    font-size: 1.2rem;
  }
  .logo{
    width: 200px;
  }
  .course {
    width: 260px;
  }
}
@media screen and (max-width: 855px) {
  .course{
    width: 196px;
  }
  .nav__list-link{
    font-size: 1.2rem;
  }
  footer span, footer div{
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
  .logo {
    width: 150px;
    z-index: 99;
  }
  .nav-list {
    margin: 0.6vh 0;
  }
  .nav__list-link{
    font-size: 1.2rem;
  }
  .student-tagline, .student-text{
    font-size: 1rem;
  }
  .banner-img {
    bottom: 0;
  }
  .courses-desc {
    font-size: 1rem;
    padding: 0 1rem;
  }
  .course {
    width: 190px;
    padding: min(1rem,24px);
    margin-bottom: 0;
  }
  .student-desc {
    flex-direction: column;
  }
  .student-text {
    font-size: 1rem;
    width: 80%;
    padding: 1rem;
    margin-top: 0;
    padding-top: 0;
  }
  .courses-subsection {
    margin: 0.5rem 0;
  }
  .lorem-text {
    padding: 0 1rem 1rem 1rem;
    margin: 0 1rem;
    font-size: 1rem;
    text-align: justify;
  }
  footer span, footer div{
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  .social-icons a img{
    width: 20px;
  }
} 
@media screen and (max-width: 545px){
  .hamburger {
    display: block;
    font-size: 20px;
  }
  .course {
    width: 220px;
  }
  .courses-subsection{
    justify-content: center;
  }
  .nav-menu {
    display: block;
    position: absolute;
    margin: 0;
    padding: 60px 0 5px 0;
    left: -100%;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: fit-content;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(98 93 93 / 41%);
    text-align: center;
    z-index: 2;
    transition: all 0.2s ease-in-out;
  }
  .nav__list-link {
    display: block;
    margin: 0;
    font-size: 1.2rem;
  }
  .nav__list-item {
    padding: 0.5rem 0;
  }
  input[type="checkbox"]:checked ~ .nav-menu {
    left: 0;
  }
  footer{
    flex-direction: column;
  }
  footer span, footer div{
    font-size: 1rem;
    padding: 0.3rem;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
  .logo {
    width: 36vw;
  }
  .nav-list {
    margin: 1.5vh 0;
  }
  .hamburger {
    font-size: 20px;
  }
  .banner-text--heading {
    font-size: 7vw;
  }
  .banner-text--secondary {
    font-size: 4vw;
  }
  .courses-desc {
    font-size: 1rem;
    padding: 0 2rem 1rem 2rem;
    margin: 0;
  }
  .courses-subsection {
    margin: 1rem 0;
    padding: 0;
    gap: 5px;
    justify-content: center;
  }
  .courses-heading{
    padding: 0.5rem;
  }
  .courses-heading,
  .lorem-heading,
  .student-heading {
    font-size: 1.6rem;
  }
  .student-heading {
    padding: 1rem;
    margin-bottom: 0;
  }
  .student-img {
    width: 90%;
  }
  .student-tagline {
    font-size: 1rem;
    margin-top: 0;
  }
  .student-text {
    font-size: 1rem;
  }
  .lorem-heading {
    font-size: 1.5rem;
    margin: 1rem;
  }
  .lorem-text {
    padding: 0 2rem 1rem 2rem;
    font-size: 1rem;
    margin: 0;
  }
  footer {
    flex-direction: column;
    justify-content: center;
  }
  .social-icons{
    padding-top: 0;
    padding-bottom: 0;
  }
  .social-icons a img{
    width: 20px;
  }
  footer span, footer div{
    font-size: 1rem;
    padding: 0.5rem;
  }
}
